.authentication-form {
  text-align: start;
  font-weight: 600;
  padding: 1.5rem;
}
.authentication-form input {
  font-weight: 700;
  outline: none;
  border-color: #ff00006b;
  border-radius: 5px;
  padding: 5px 16px;
}

.authentication-form input::placeholder {
  font-weight: 600;
}

.errors {
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  width: 18rem;
}
