.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
  font-family: "Poppins", sans-serif !important;
}
.color-orange {
  color: #f26031;
}
.nav-link {
  font-weight: 600;
}
.user-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
