.footer-container {
  padding: 16px 0;
  background-color: #000000c9;
}

.brand-name {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Poppins", sans-serif !important;
}

.contact-number {
  color: #fff;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  font-size: 2rem;
}
